.portfolio_sec {
  .ul-filter {
    display: flex;
    justify-content: center;
    align-items: center;

    & > span {
      padding: 5px 10px;
      cursor: pointer;

      &.active_filter {
        font-weight: bold;
      }

      &:hover {
        opacity: .8;
      }
    }
  }

  .portfolio-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .item {
      width: 33%;
    }
  }

}

.portfolio-content {
  display: flex;

  .portfolio-media {
    width: 45%;
  }

  .portfolio-info {
    flex: 1;
    margin-left: 15px;

    .project_info {
      display: flex;
      flex-flow: column;
    }
  }
}

.mfp-close, .mfp-arrow {
  &:hover {
    background: transparent !important;
  }
}