.portfolio_sec {
  .ul-filter {
    display: flex;
    justify-content: center;
    align-items: center;

    & > span {
      padding: 5px 10px;
      cursor: pointer;

      &.active_filter {
        font-weight: bold;
      }

      &:hover {
        opacity: .8;
      }
    }
  }

  .portfolio-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .portfolio-col-4 .item {
    width: 25%;
  }

  .portfolio-col-3 .item {
    width: 33%;
  }

  .portfolio-col-2 .item {
    width: 50%;
  }

  .portfolio-col-1 .item {
    width: 100%;
  }

  .portfolio-more {
    text-align: center;
  }

  @media screen and (max-width: 767px) {
    .portfolio-items .item {
      width: 100%;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
    .portfolio-items .item {
      width: 50%;
    }
  }

}

.portfolio-content {
  display: flex;

  .portfolio-media {
    width: 45%;
  }

  .portfolio-info {
    flex: 1;
    margin-left: 15px;

    .project_info {
      display: flex;
      flex-flow: column;
    }
  }
}

.mfp-close, .mfp-arrow {
  &:hover {
    background: transparent !important;
  }
}