@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  @content;
}

@mixin list-group{
  @include flex{
    flex-flow: column;
    align-items: flex-start;
  }
  padding-left: 0;
  margin: 0;
}
@mixin list-item{
  @include flex;
  position: relative;
  padding: 10px;
  margin-bottom: -1px;
  //background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);

  &:first-child{
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }
  &:last-child{
    margin-bottom: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
  }
  @content;
}