/* icons */
%icons {
  .dashicons {
    cursor: pointer;

    &.wp-radio-player-play-pause {
      height: auto;
      width: auto;
      font-size: 24px;
      padding: 0 15px;

      &.dashicons-controls-pause {
        color: $brand-color;
      }
    }

    &.dashicons-star-filled {
      color: $brand-color;
    }

    &.dashicons-star-empty {
      &:hover:before {
        content: "\f155";
      }
    }

    &:hover {
      color: $brand-color;
    }
  }
}